@model ICollection<DiplaTool.ViewModels.Event.DashboardEventViewModel>

@{
    ViewBag.Title = "Dienstplan";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).UserName)
        </th>
        @foreach (var key in Model.ElementAt(0).Events.Keys)
        {
            <th>@key.ToString("dd.MM.yyyy")</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            @foreach (var value in item.Events.Values)
            {
                if (value != null)
                {
                    <td style="background-color: @value.ElementAt(0).Subject.ColorToString()">
                        @foreach (var @event in value)
                        {
                            @Html.DisplayFor(modelItem => @event.Subject.Shortcut)
                        }
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayName("-")
                    </td>
                }
            }
        </tr>
    }

</table>