@model DiplaTool.ViewModels.Event.DashboardEventViewModel

@{
    ViewBag.Title = "Dienstplan";
}

<h2>@ViewBag.Title</h2>

<h3>@DateTime.Today.ToString("Y")</h3>

<table class="table table-bordered">
    @* Kopfzeile der Tabelle *@
    <tr>
        <th>
            Name
        </th>
        @foreach (var key in Model.Events.Values.ElementAt(0).Keys)
        {
            <th>@key.ToString("dd")</th>
        }
    </tr>

    @* Dienste *@
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>

            @foreach (var value in item.Value.Values)
            {
                if (value != null)
                {
                    <td style="text-align: center; background-color: @value.ElementAt(0).Subject.ColorToString()">
                        @foreach (var @event in value)
                        {
                            @Html.DisplayFor(modelItem => @event.Subject.Shortcut)
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }

    @* Dienstchecks *@
    <tr>
        <td>
            @Html.DisplayNameFor(modelItem => Model.DienstChecks)
        </td>
        @foreach (var dienstCheck in Model.DienstChecks)
        {
            <td style="background-color: @Model.GetColor(dienstCheck)"></td>
        }
    </tr>

    @* Pikettchecks *@
    <tr>
        <td>
            @Html.DisplayNameFor(modelItem => Model.PikettChecks)
        </td>
        @foreach (var pikettCheck in Model.PikettChecks)
        {
            <td style="background-color: @Model.GetColor(pikettCheck)"></td>
        }
    </tr>
</table>