@model ICollection<DiplaTool.ViewModels.Event.DashboardEventViewModel>

@{
    ViewBag.Title = "Dienstplan";
}

<h2>@ViewBag.Title</h2>

<h3>@DateTime.Today.ToString("Y")</h3>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ElementAt(0).UserName)
        </th>
        @foreach (var key in Model.ElementAt(0).Events.Keys)
        {
            <th>@key.ToString("dd")</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            @foreach (var value in item.Events.Values)
            {
                if (value != null)
                {
                    <td style="text-align: center; background-color: @value.ElementAt(0).Subject.ColorToString()">
                        @foreach (var @event in value)
                        {
                            @Html.DisplayFor(modelItem => @event.Subject.Shortcut)
                        }
                    </td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
    <tr>
        <td>
            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).DienstChecks)
        </td>
        @foreach (var dienstCheck in Model.ElementAt(0).DienstChecks)
        {
            <td style="background-color: @Model.ElementAt(0).GetColor(dienstCheck)"></td>
        }
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(modelItem => Model.ElementAt(0).PikettChecks)
        </td>
        @foreach (var pikettCheck in Model.ElementAt(0).PikettChecks)
        {
            <td style="background-color: @Model.ElementAt(0).GetColor(pikettCheck)"></td>
        }
    </tr>

</table>