@model IEnumerable<DiplaTool.Models.ApplicationUser>

@{
    ViewBag.Title = "Benutzerliste";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Benutzer erstellen", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogonName)
            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    @Html.DisplayFor(modelItem => role.ToString())
                }
            </td>
            <td>
                @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Löschen", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
