@model DiplaTool.ViewModels.Subject.FormSubjectViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Shortcut, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Shortcut, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Shortcut, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Start, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.End, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IsEndOnNextDay, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.CheckBoxFor(model => model.IsEndOnNextDay, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.IsEndOnNextDay, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Color, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BusyStatus, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.BusyStatus, new SelectList(Model.BusyStatuses), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.BusyStatus, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Roles, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.ListBoxFor(model => model.Roles, new MultiSelectList(Model.AllRoles, "Name", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
    </div>
</div>
